@using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))

{
	<h1>Login</h1>

	<div>
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required />
	</div>
	<div>
		<label for="senha">Senha:</label>
		<input type="password" id="senha" name="senha" required />
	</div>
	<button type="submit">Login</button>

	<a href="@Url.Action("Index", "Registro")">Registrar</a>

	<a href="@Url.Action("RecuperarSenha")">Recuperar senha</a>

	@if (TempData["Mensagem"] != null)
	{
		<div class="alert alert-success">
			@TempData["Mensagem"]
		</div>
	}
}