@{
    ViewData["Title"] = "Trocar Senha";
}

<h2>Trocar Senha</h2>

<form asp-action="AlterarSenha" method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Nova Senha</label>
        <input type="password" name="senha" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Confirmar Nova Senha</label>
        <input type="password" name="confirmarSenha" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Trocar Senha</button>
</form>

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-info mt-3">
        <p>@ViewBag.Mensagem</p>
    </div>
}
