@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Validação de Código";
}

@using (Html.BeginForm("ValidarCodigo", "Login", FormMethod.Post))
{
    <div class="telas-inicias">
        <h1>Validação de Código</h1>
        <p style="margin-bottom: 20px; color: black;">
            Para continuar, por favor, informe o código enviado para o seu email.
        </p>

        <div class="input-telas-inicias">
            <div class="mb-4">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" name="codigo" required />
            </div>

            <div class="botoes-telas-inicias">
                <button type="submit">Validar Código</button>
                <a href="@Url.Action("Index", "Login")">Voltar</a>
            </div>
        </div>
    </div>
}

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-info mt-3" style="text-align:center;">
        <p>@ViewBag.Mensagem</p>
    </div>
}
