@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
</div>

<div class="container">
    <h2>Artistas Mais Ouvidos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="/assets/img/djavan.jpg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Djavan</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/img/chicobuarque.jpeg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Chico Boarque</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/img/mckevin.jpg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Mc Kevin</h5>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <h2>Álbuns Mais Ouvidos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="/assets/img/djavan.jpg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Djavan</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/img/chicobuarque.jpeg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Chico Boarque</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/assets/img/mckevin.jpg" class="card-img-top" alt="Álbum 2"
                    style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Mc Kevin</h5>
                </div>
            </div>
        </div>
    </div>
</div>

