@model SoundFy.Models.Musica

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Músicas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMusica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMusica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Album.AlbumId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MusicaId">Editar</a> |
    <a asp-action="Index">Votlar a lista de músicas</a>
</div>
