body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.telas-inicias {
    background-color: #D9D9D9;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
}

.telas-inicias h1 {
  font-size: 28px;
  margin-bottom: 30px;
  color: black;
}

.input-telas-inicias input[type="email"],
.input-telas-inicias input[type="password"],
.input-telas-inicias input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  background-color: black;
  color: white;
}

.botoes-telas-inicias {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.botoes-telas-inicias button,
.botoes-telas-inicias a {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  display: block;
  width: 100%;
  cursor: pointer;
}

.botoes-telas-inicias a {
  text-align: center;
  font-size: 0.9em;
}

.input-telas-inicias span {
  display: block;
  margin: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}