body {
  background-color: #111111;
}

/* Estilos para tela de login */
.telas-inicias {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.telas-inicias h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.botoes-telas-inicias {
  display: flex;
  justify-content: space-between;
}